@import "./tailwind.css";
@import "./base.css";





@media (hover: hover) {

}

@media (min-width: 1024px) {
	body {
		display: flex;
		place-items: center;
	}

	
}

.nav-padding{
	padding-top: 80px;
}
.footer-padding{
	padding-bottom: 308px;
}

@font-face {
	font-family: 'Dancing Script';
	src: url('../assets/fonts/DancingScript/DancingScript-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
@font-face {
	font-family: 'Dancing Script';
	src: url('../assets/fonts/DancingScript/DancingScript-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: bold;
  }

  @font-face {
	font-family: 'Pridi';
	src: url('../assets/fonts/Pridi/Pridi-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  @font-face {
	font-family: 'Pridi';
	src: url('../assets/fonts/Pridi/Pridi-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
  }

  .pridi{
	font-family: 'Pridi';
	
  }

   /* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
	display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
 *{
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
  } 